// out: ../style.css, sourcemap: false, compress: false
/*
Theme Name:   UW Global Mental Health
Theme URI:    https://bitbucket.org/uwdgh_elearn/uwgmh/
Template:     uw-2014
Text Domain:  uwgmh
Author:       dghweb, Department of Global Health - University of Washington
Author URI:   https://depts.washington.edu/dghweb/
Description:  UW 2014 child theme for Global Health.
Version:      0.1.15
Created on:   November 20, 2018
Document:     style
Bitbucket Theme URI:    https://bitbucket.org/uwdgh_elearn/uwgmh/
*/

// Color swatches
@purple: 		#4b2e83;
@gray:  		#c9c9c9;
@darkgray:		#5A5A5A;
@link: 			#0088DD;
@brightgold: 	#ffd800;
@ultralightgold:#e8e3d3;
@lightgold:		#b7a57a;
@darkgold: 		#85754d;

@white:         #ffffff;
@orange:        #b45829;

.uw-thinstrip {
  .uw-wordmark {
    background: url(assets/png/Global-Mental-Health_UW_print_wt.png) no-repeat 0 0 transparent;
    background-size: contain;
    width: 335px;
    top: 5px;
    height: 40px;
  }
}
/* DGH wordmark switch */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .uw-thinstrip {
    .uw-wordmark {
      width: 335px;
      top: 5px;
      height: 40px;
    }
  }
}
/* DGH wordmark switch */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .uw-thinstrip {
    .uw-wordmark {
      width: 360px;
      top: -13px;
      height: 75px;
    }
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .uw-thinstrip {
    .uw-wordmark {
      width: 360px;
      top: -5px;
      height: 70px;
    }
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  .uw-thinstrip {
    .uw-wordmark {
      width: 390px;
      top: -13px;
      height: 75px;
    }
  }
}
@media only screen and (min-width: 1440px) {
  .uw-thinstrip {
    .uw-wordmark {
      width: 390px;
      top: -13px;
      height: 75px;
    }
  }
}

/* font-size adjustments for smaller screens */
@media only screen and (max-width: 600px) {
  .uw-body {
    h1 {
      font-size: 28px;
    }
    h2 {
      font-size: 24px;
    }
  }
}

/* dawgdrops class modifier */
.dawgdrops-item--gold {
  a {
    color: @darkgold;
    &:hover,
    &:focus {
      color: @purple !important;
    }
  }
}

/* Custom uw-hero-slideshow */
.page-template-template-slideshow {

  // mobile-menu wrapper for uw-hero-slideshow template pages
  .mobile-menu-wrapper {
    display: none;
  }
  @media only screen and (max-width: 767px) {
    .mobile-menu-wrapper {
      display: block;
      margin: 65px 20px -10px 20px;
      #mobile-relative {
        margin-top: 0;
        ul.uw-mobile-menu {
          margin-bottom: 0px;
        }
      }
    }
  }


  .uw-hero-image.hero-height {
    margin-bottom: 40px;
    .uw-hero-slideshow {
      height: 0;
      div.uw-slideshow {
        margin-top: 0;
        div.slide {
          display: flex;
          flex-direction: column;
          justify-content: center;
          div {
            opacity: .9;
            padding-right: 45px;
            h3 {
              a {
                &:hover,
                &:active {
                  color: @lightgold;
                }
              }
            }
          }
        }
      }
      div.uw-slideshow.photo-slider {
        max-height: 433px !important;
      }
    }
    #hero-bg {
      #hero-container {
        h1 {
          padding-top: 40px;
          &:after {
            height: 390px;
            opacity: .1;
            display: none;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 767px) {
    .uw-hero-image.hero-height {
      padding: 0;
      margin-bottom: 0;
      .uw-hero-slideshow {
        height: 390px;
        div.uw-slideshow {
          div.slide {
            justify-content: initial;
            div {
              padding-bottom: 10px;
              padding-right: 90px;
              padding-top: 10px;
              p {
                font-size: 80%;
              }
            }
          }
        }
      }
      #hero-bg {
        position: absolute;
        top: 0;
        left: 15px;
        #hero-container {
          h1 {
            padding-top: 40px;
            &:after {
              height: 390px;
              opacity: .1;
              display: none;
            }
          }
        }
      }
    }
  }

  @media only screen and (min-width: 768px) {
    .uw-body {
      div.uw-site-title {
        display: none;
      }
    }
  }

}

/* DGH footer wordmark */
.uw-footer {
  .footer-wordmark,
  .footer-wordmark:focus,
  .footer-wordmark:hover  {
    background: url(assets/footer/Global-Mental-Health_UW_print_wt-centered.png) no-repeat 0px 0px transparent;
    height: 130px;
    background-size: 335px;
  }
}


/* Plugin overrides */
.uw-body-copy {
  .amr_widget {
    padding: 0;
  }
}
